
RewriteEngine On

# htaccess forbidden
RewriteRule .htaccess - [F]

RewriteRule \.svn - [F]


RewriteRule ^storage/keys/([0-9]+)/(.*)\.pem$ farms_view.php?id=$1&task=download_private_key [NE,L]

#Farm events RSS
RewriteRule ^storage/events/([0-9]+)/rss\.xml$ rss.xml.php?farmid=$1 [NE,L]

#Environment
RewriteRule ^query-env/([0-9-]+)/(.*)$ environment.php?version=$1&operation=$2&%{QUERY_STRING} [NE,L]


# New UI Controler
RewriteRule ^ui/js/(.*)-[0-9]+\.js ui/js/$1.js [NE,L]
RewriteRule ^ui/js/(.*)-[0-9]+\.css ui/js/$1.css [NE,L]

RewriteRule ^ui2/js/(.*)-[0-9]+\.js ui2/js/$1.js [NE,L]
RewriteRule ^ui2/js/(.*)-[0-9]+\.css ui2/js/$1.css [NE,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} ^[^\.]+$
RewriteRule ^(v[0-9]+)/.*$ /api.php?version=$1&%{QUERY_STRING}  [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} ^[^\.]+$
RewriteRule ^.*$ /ui.php [L]


