/* Ext.panel.Panel-cfg-tools  (Tools icon) */
.x-tool img {
	background-image: url('/ui/images/theme/tools/tool-sprites.gif') !important;
}

.x-tool-video {
	background-position: 0 -360px;
}

.x-tool-over .x-tool-video {
	background-position: -15px -360px;
}

.x-tool-dashboard {
	background-position: 0 -375px;
}

.x-tool-over .x-tool-dashboard {
	background-position: -15px -375px;
}

/* Paging toolbar's new icons */
.x-tbar-page-next {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px 0px;
}

.x-item-disabled .x-tbar-page-next {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px -16px;
}

.x-tbar-page-last {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px -32px;
}

.x-item-disabled .x-tbar-page-last {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px -48px;
}

.x-tbar-page-prev {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px -64px;
}

.x-item-disabled .x-tbar-page-prev {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px -80px;
}

.x-tbar-page-first {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px -96px;
}

.x-item-disabled .x-tbar-page-first {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px -112px;
}

.x-tbar-loading {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px -128px;
}

.x-tbar-loading-refresh {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px -144px;
}

/* Toolbar's icons */
.scalr-ui-btn-icon-filter {
	background-image: url('/ui/images/theme/grid/paging_toolbar_sprite.png') !important;
	background-position: 0px -160px !important;
}

.scalr-ui-btn-icon-download {
	background-image: url('/ui/images/icons/download_icon_16x16.png') !important;
}

/* button */
.x-btn-default-small {
	background: -webkit-gradient(linear, left top, left bottom, from(#F9FAFD), to(#E0E8F5));
	background: -moz-linear-gradient(top, #F9FAFD, #E0E8F5);
	border-radius: 3px;
	border: 1px #8DACCF solid;
	box-shadow: 0 1px 1px #E2E8F1, 0 1px #fff inset;
}

.x-btn-default-small .x-btn-inner {
	font-size: 12px;
}

.x-btn-default-small-over {
	background: -webkit-gradient(linear, left top, left bottom, from(#EFF3F9), to(#D5DFED));
	background: -moz-linear-gradient(top, #EFF3F9, #D5DFED);
	border-radius: 3px;
	border: 1px #8DACCF solid;
	box-shadow: 0 1px 1px #E2E8F1, 0 1px #fff inset;
}

.x-btn-default-small-pressed {
	background: -webkit-gradient(linear, left top, left bottom, from(#E8EDF6), to(#C3D1E5));
	background: -moz-linear-gradient(top, #E8EDF6, #C3D1E5);
	border-radius: 3px;
	border: 1px #809EC1 solid;
}

/* Form */
/* Не отображать рамку ошибки вокруг поля */
input[type="file"] {
	background-color: inherit;
	background-image: none
}

/* Выделять readonly поля */
.x-form-readonly input[readonly], .x-form-readonly textarea[readonly] {
	color: #777;
}

.x-form-readonly .x-form-cb-label {
	color: #777;
}

.x-form-readonly .x-form-display-field {
	color: #777;
}

.x-form-readonly input.x-trigger-noedit[readonly]{
	color: #777;
	cursor: default;
}

/* Text field */
/* .x-form-text {
	background: #fff;
	border-radius: 3px;
	border: 1px #A5BDD8 solid;
	box-shadow: 0 1px 1px #F9FBFD;,
}

input.x-form-text {
	color: #333333;
}

.x-form-item-label {
	font-size: 13px;
	background: #DFE9F6;
	color: #04468C;
	font-weight: bold;
	font-family: arial;
	text-shadow: 0 1px 1px #EEF3FB;
}

.x-form-display-field {
	font-size: 13px;
	font-weight: bold;
	font-family: arial;
	background: #DFE9F6;
	color: #333;
	text-shadow: 0 1px 1px #EEF3FB;
}

.x-fieldset {
	border-radius: 3px;
	border: 1px #BCCBE2 solid;
	box-shadow: 0 1px #F5F8FC;
	padding-top: 5px;
}

.x-fieldset-collapsed {
	box-shadow: none !important;
}*/

/* Combobox */
/*.x-form-trigger {
	background-image: url('/ui/images/theme/form/trigger.png');
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	border: 1px #A5BDD8 solid;
	border-style: solid solid solid none;
	box-shadow: 0 1px 1px #F9FBFD;
}

.x-field-combobox input.x-form-text {
	border-style: solid none solid solid;
	border-radius: 3px 0px 0px 3px;
}

.x-form-readonly .x-field-combobox input.x-form-text {
	border-style: solid;
	border-radius: 3px;
}*/

/* panel header title */
.x-panel-header {
	padding-top: 6px;
	padding-left: 11px;
}

.x-panel-header-default {
	background: -webkit-gradient(linear, left top, left bottom, from(#DAE7F6), to(#BAD1EF));
	background: -moz-linear-gradient(top, #DAE7F6, #BAD1EF);
	border: 1px #99BCE8 solid;
	box-shadow: 0 1px #F7FAFD inset;
}

.x-panel-header-text-default {
	font-weight: bold;
	color: #04408C;
	font-family: arial;
	font-size: 11px;
	text-shadow: 0 1px #E5EDF8;
}

/* toolbar */
.scalr-ui-docked-bottombar {
   background-color: #C4D6EA;
   border-color: #8DB2E3;
   border-width: 1px;
   border-style: solid;
   padding: 5px;
}

/* Ext.grid.Panel */
/* Change font size */
.x-column-header {
	font-size: 13px;
}

.x-grid-row .x-grid-cell {
	font-size: 13px;
}

.x-grid-with-row-lines .x-grid-cell-inner {
	line-height: 15px;
}

/* FIX */
.x-column-header-inner {
	padding-top: 3px !important;
}

/* Ext.form.FieldSet */
.x-fieldset {
	padding: 5px;
}

.x-fieldset-with-title {
	padding: 0px 5px 5px 5px;
}
