div.scalr-ui-roles-builder-btn-name {
	width: 109px;
	height: 22px;
	text-align: center;
	font: bold 13px Arial;
	color: #333333;
}

div.scalr-ui-roles-builder-btn-icon {
	padding-top: 10px;
	width: 109px;
	height: 85px;
	text-align: center;
}
