.scalr-ui-dataview .x-item-inner{
	min-height:116px;
}

.scalr-ui-dataview table{
	border-collapse:collapse;
}

.scalr-ui-dataview table td{
	width:180px;
	padding:0;
	vertical-align:top;
}

.scalr-ui-dataview .x-item-title{
	font: bold 18px arial, helvetica, sans-serif;
	color: #202B3D;
	text-shadow: 0 1px white;
	margin-bottom:16px;
	max-width: 160px;
	word-wrap:break-word;
}

.scalr-ui-dataview .x-item-status{
	font: bold 18px arial, helvetica, sans-serif;
	color: #519F00;
	text-shadow: 0 1px white;
	margin-bottom:16px;
}

.scalr-ui-dataview .x-item-status-inactive{
	color: #be2a00;	
}

.scalr-ui-dataview .x-item-param{
	line-height:18px;
}

.scalr-ui-dataview .x-item-param-title{
	font-weight:bold;
	line-height:22px;
}

/*taken from environments/edit.css */
.scalr-ui-environment-edit-btn {
	display: inline-block;
	margin-right: 17px;
	margin-bottom: 10px;
}

div.scalr-ui-environment-edit-btn-custom {
	border-radius: 4px;
	background: white;
	cursor: pointer;
	width: 109px;
}

div.scalr-ui-environment-edit-btn-custom:hover {
	box-shadow: 0 1px 3px #708098;
}

div.scalr-ui-environment-edit-btn-name {
	width: 109px;
	height: 20px;
	text-align: center;
}

div.scalr-ui-environment-edit-btn-icon {
	padding-top: 10px;
	width: 109px;
	height: 89px;
	text-align: center;
}
