.scalr-ui-dashboard-widgets-editpanel {
	width: 110px;
	height: 36px;
	border-radius: 5px;
	background: #89AFDA;
	opacity: 0.8;
	box-shadow: 0 1px 2px #ffffff;
	z-index: 999;
	left: 48%;
	position: absolute;
	padding: 9px 20px 9px 20px;
	margin-bottom: 5px;
	top: 10px;
	cursor: pointer;
}

.scalr-ui-dashboard-widgets-editpanel:hover {
	background: #99bbe8;
}

.scalr-ui-dashboard-container {
	min-height: 200px;
	border: none;
}

.scalr-ui-dashboard-container-dd div.editpanel{
	display: none;
}

.scalr-ui-dashboard-container div.editpanel div.remove, .scalr-ui-dashboard-container div.editpanel div.add{
	visibility: hidden;
	display: inline;
	float: left;
	color: #04468c;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#D5E6F8), to(#AFCCEE));
	background: -moz-linear-gradient(top, #D5E6F8, #AFCCEE);
	opacity: 0.4;
}

.scalr-ui-dashboard-container-over-empty div.editpanel  div.add:hover, .scalr-ui-dashboard-container-over-empty div.editpanel  div.remove:hover, .scalr-ui-dashboard-container-over div.editpanel div.add:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#C9DEF4), to(#8CB7E1));
	background: -moz-linear-gradient(top, #C9DEF4, #8CB7E1);
	opacity: 0.7;
}

.scalr-ui-dashboard-container-over div.editpanel div.add {
	width: 100%;
	visibility: visible;
	cursor: pointer;
}

.scalr-ui-dashboard-container-over-empty div.editpanel div.remove, .scalr-ui-dashboard-container-over-empty div.editpanel div.add {
	width: 50%;
	visibility: visible;
	cursor: pointer;
}

.scalr-ui-dashboard-icon-add-column {
	background: url('/ui/images/ui/dashboard/widgets_control_sprite.png') no-repeat;
	height:16px;
	width:16px;
	background-position: 0px 0px;
}

.scalr-ui-dashboard-icon-add-widget {
	background: url('/ui/images/ui/dashboard/widgets_control_sprite.png') no-repeat;
	height: 16px;
	width: 16px;
	background-position: 0px -16px;
}

.scalr-ui-dashboard-panel .x-panel-dd-spacer {
	border: 2px dashed #99bbe8;
	border-radius: 4px;
	-moz-border-radius: 4px;
	margin-bottom: 5px;
}

.scalr-ui-dashboard-farms-nocontent {
	color: #04468c;
	font-family: arial;
	font-size: 16pt;
	text-align: center;
	line-height: 115px;
	width: 100%;
	vertical-align: bottom;
}

.scalr-ui-dashboard-farms-servers {
	display: inline-block;
	margin-right: 5px;
	width: 94px;
	height: 94px;
}

.scalr-ui-dashboard-farms-servers p{
	color: #1e8a0a;
	font-family: arial;
	font-size: 32px;
	font-weight: bold;
	text-align: right;
}

.scalr-ui-dashboard-widgets-div {
	width: 100%;
	padding: 5px 5px 5px 5px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.scalr-ui-dashboard-widgets-message {
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
	color: #04468C;
	text-shadow: 0 1px white;
	display: inline-block;
}

.scalr-ui-dashboard-widgets-message-slim {
	font-family: arial;
	font-size: 13px;
	color: #04468C;
	display: inline-block;
}

.scalr-ui-dashboard-widgets-message a{
	color: #04468C;
	text-decoration: none;
}

.scalr-ui-dashboard-widgets-usage-title {
	color: #666;
	font-family: arial;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0 1px white;
	width: 100%;
	height: 20px;
	background-color: #F3F7FC;
}
.scalr-ui-dashboard-widgets-usage-title .x-column-header{
	height: 18px;
	background-color: #F3F7FC;
}

.scalr-ui-dashboard-widgets-usage-title .x-column-header-inner{
	color: #666;
	background-color: #F3F7FC;
	text-align: left;
}

.scalr-ui-dashboard-back:hover {
	background-color: #F3F7FC !important;
}

.scalr-ui-dashboard-back .x-grid-cell {
	background-color: #F3F7FC !important;
}

.scalr-ui-dashboard-widgets-desc {
	font-size: 11px;
	font-family: arial;
	font-weight:bold;
	color: #666;
	text-shadow: 0 1px #FDFDFE;
	margin-bottom: 3px;
}

.scalr-ui-dashboard-widgets-panelcolor {
	background: #FFF;
	border-top: 1px solid #E2ECF7;
}

.scalr-ui-dashboard-widgets-message-small {
	font-size: 12px;
	font-family: tahoma;
	color: #333333;
}

.scalr-ui-dashboard-widgets-info {
	font-size: 13px;
	font-family: arial;
	font-weight:bold;
	color: #EB4608;
	text-shadow: 0 1px white;
	vertical-align: super;
}

.scalr-ui-dashboard-widgets-paneltitle {
	font-size: 11px;
	color: #04408C;
	font-family: arial;
	font-weight: bold;
	text-shadow: 0 1px #D0E0F4;
}

.scalr-ui-dashboard-header-loading {
	background: url('/ui/images/icons/anim/loading_16x16.gif') no-repeat;
	background-position: 100%;
}

.scalr-ui-dashboard-body-noborder {
	border-bottom: none;
}

.scalr-ui-dashboard-body-loading {
	font-size: 18px;
	font-family: arial;
	font-weight: bold;
	color: #04468C;
}

ul.scalr-ui-dashboard-farms li {
	position: relative;
	display: inline-block;
	margin: 7px;
	margin-bottom: 15px;
	height: 60px;
	width: 55px;
	cursor: pointer;
	text-align: center;
}

ul.scalr-ui-dashboard-farms li:hover div.icon{
	background: -webkit-gradient(linear, left top, left bottom, from(#C9DEF4), to(#8CB7E1));
	background: -moz-linear-gradient(top, #C9DEF4, #8CB7E1);
	box-shadow: 0 -1px #78AADC inset, 0 1px 1px #ffffff;
}

ul.scalr-ui-dashboard-farms li div.icon {
	height: 48px;
	width: 48px;
	background: -webkit-gradient(linear, left top, left bottom, from(#D5E6F8), to(#AFCCEE));
	background: -moz-linear-gradient(top, #D5E6F8, #AFCCEE);
	border-radius: 5px;
	box-shadow: 0 -1px #98BEE8 inset, 0 1px 1px #ffffff;
	position: relative;
	top: 8px;
	left: 3px;
}

ul.scalr-ui-dashboard-farms li div.count {
	position: absolute;
	top: 0px;
	left: 38px;
	background: -webkit-gradient(linear, left top, left bottom, from(#AAE356), to(#3F9504));
	background: -moz-linear-gradient(top, #AAE356, #3F9504);
	border-radius: 10px;
	width: 20px;
	height: 20px;
	color: #ffffff;
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	padding-top: 3px;
}

ul.scalr-ui-dashboard-farms li div.option {
	position: absolute;
	top: 42px;
	left: 36px;
	background: url('/ui/images/ui/dashboard/settings_sprite.png') no-repeat;
	background-position: 0px -23px;
	width: 23px;
	height: 23px;
	visibility: hidden;
	cursor: pointer;
}

ul.scalr-ui-dashboard-farms li:hover div.option {
	visibility: visible;
}

ul.scalr-ui-dashboard-farms li:hover div.option:hover {
	background-position: 0px 0px;
}

.scalr-ui-dashboard-farms-text {
	font-size: 11px;
	font-family: arial;
	font-weight: bold;
	color: #04468C;
	text-shadow: 0 1px #ffffff;
}

.scalr-ui-dashboard-tutor-message {
	font-size: 22px;
	font-family: Roboto Black;
	color: #04468C;
	text-shadow: 0 1px #ffffff;
}

.scalr-ui-dashboard-tutor-message-big {
	font-size: 32px;
	font-family: Roboto Black;
	color: #04468C;
	text-shadow: 0 1px #ffffff;
}

.scalr-ui-dashboard-tutor-desc {
	font-size: 11px;
	font-family: tahoma;
	color: #04468C;
	text-shadow: 0 1px #ffffff;
	padding: 15px;
}

.scalr-ui-dashboard-tutor-title {
	font-size: 14px;
	font-family: tahoma;
	font-weight: bold;
	color: #04468C;
	text-shadow: 0 1px #ffffff;
	text-decoration: none;
	height: 15px;
}

.scalr-ui-dashboard-tutor-desc a {
	text-decoration: none;
	color: #04468C;
}

@font-face {
	font-family: "Roboto Black";
	src:
		url("Roboto-Black.eot?") format("eot"),
		url("Roboto-Black.woff") format("woff"),
		url("Roboto-Black.ttf") format("truetype"),
		url("Roboto-Black.svg#Roboto-Black") format("svg");
	font-weight: normal;
	font-style: normal;
}